body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


header {
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-family: "Arial";
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  }

.body--background-color{
    background-color: seashell;
}


.mainWrapper{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 9rem;
  margin-bottom: 10rem;
}

form {
  padding: 2rem;
}

.colorLabel, 
.colorMeaningLabel,
.colorMemoriesLabel{
  font-family: "lato";
}

p {
  font-weight: bold;
  font-family: "lato";
  font-size: 1.2rem;
}

.formWrapper {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(82, 80, 82, 0.2);
}

.formWrapper:hover {
  cursor: pointer;
}

.errorMessage {
  display: flex;
  position: fixed;
  color: #ff0000; 
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.form__input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign_up{
  background-color: salmon;
  color: rgb(240, 234, 234);
}



.form__button:hover {
  background-color: #1e5720;
}

.sign_up:hover {
  background-color: rgb(240, 137, 126);
  color: #fff;
}

.message--success{
  display: flex;
  position: fixed;
 background-color: rgb(172, 234, 172);
 border: 2px solid rgb(9, 59, 9);

}

button {
  background-color: gainsboro;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  cursor: pointer;
}


button:hover{
    background-color: salmon;
    cursor: pointer;
}

.inputSection {
  display: block;
}

.inputSection input,
.inputSection label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]:focus{
    border-radius: 3px;
    padding: 0.3rem;
    border: none;
    outline: 2px solid salmon;
}
.colorDetails{
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 9px 11px rgba(47, 46, 47, 0.2);
}

.color_list-container {
margin-top: 365px;
margin-bottom: 90px;
  padding: 0.5rem;
}

.add_button-container{
  display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: center;
  margin-bottom: 2rem;
}

table{
  
  border-radius: 0.5rem;
  padding: 8px;
	border-collapse: collapse;
  overflow: hidden;
  cursor: pointer;
}

 th{
	background-color: rgb(174, 170, 170);
  padding: 8px;
 }
 td{
  padding: 10px;
	background-color: antiquewhite;
  border: 2px solid white;
 }

footer{
    background-color: peachpuff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.hidden{
  display: none;
}