header {
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-family: "Arial";
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  }

.body--background-color{
    background-color: seashell;
}
.mainWrapper{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 9rem;
  margin-bottom: 10rem;
}

form {
  padding: 2rem;
}

.colorLabel, 
.colorMeaningLabel,
.colorMemoriesLabel{
  font-family: "lato";
}

p {
  font-weight: bold;
  font-family: "lato";
  font-size: 1.2rem;
}

.formWrapper {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(82, 80, 82, 0.2);
}

.formWrapper:hover {
  cursor: pointer;
}

.errorMessage {
  color: #ff0000; 
}

button {
  background-color: gainsboro;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  cursor: pointer;
}


button:hover{
    background-color: salmon;
    cursor: pointer;
}

.inputSection {
  display: block;
}

.inputSection input,
.inputSection label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]:focus{
    border-radius: 3px;
    padding: 0.3rem;
    border: none;
    outline: 2px solid salmon;
}
.colorDetails{
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 9px 11px rgba(47, 46, 47, 0.2);
}

.colorList {
  border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: 0 9px 11px rgba(47, 46, 47, 0.2);
  padding: 0.5rem;
}

table{
  border-radius: 0.5rem;
  padding: 8px;
	border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 9px 11px rgba(47, 46, 47, 0.2);
  cursor: pointer;
}

 th{
	background-color: rgb(174, 170, 170);
  padding: 8px;
 }
 td{
  padding: 10px;
	background-color: antiquewhite;
  border: 2px solid white;
 }

footer{
    background-color: peachpuff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
